.main{
    background-color:#ffcc00;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.face{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120px;
    font-weight: bolder;
}

.form{
    margin-top: 50px;
}

.select{
    font-size: 25px;
    background-color:aliceblue;
    width: 50px;
}

.fuego-chileno{
    background-color: #ff9900;
}

.btn{
    background-color: lightblue;
    margin-top: 15px;
    font-size: 25px;
    border-radius: 10px;
}

 
